.carrinho {
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .conteudo-carrinho {
        background: #fff;
        width: 40%;
        height: 100vh;
        padding: 30px;

        position: absolute;
        right: 0;
        top: 0;


    }
}