<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <h1 class="title is-4">IsWe Stickers</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="columns">
        <ng-container *ngFor="let item of vendas | keyvalue">
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <div class="title is-4">{{item.value.produtoOfertado.nome}}</div>
                                <h3 class="subtitle is-5">{{trataPreco(item.value.produtoOfertado.preco)}}</h3>
                                <h4 class="subtitle is-6">{{item.value.quantidade}} {{(item.value.quantidade > 1) ? 'itens no estoque' : 'item no estoque'}}</h4>

                                <button
                                    type="button"
                                    class="button is-small is-dark is-fullwidth"
                                    [disabled]="estaNoCarrinho(item.value.produtoOfertado.id_produto)"
                                    (click)="adicionarCarrinhoPrincipal(item.value.produtoOfertado)">
                                    {{ (estaNoCarrinho(item.value.produtoOfertado.id_produto)) ? 'Produto no carrinho!' : 'Adicionar ao carrinho' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="carrinho" *ngIf="mostrarCarrinho">
    <div class="conteudo-carrinho">
        <h1 class="title is-3">Carrinho</h1>

        <div class="botao-fechar" (click)="mostrarCarrinho = false">x</div>

        <ul>
            <li *ngFor="let item of carrinho | keyvalue" class="item">
                {{item.value.produto.nome}}
                <button type="button" class="button is-small" (click)="removerCarrinho(item.value.produto)">
                    -
                </button>
                {{item.value.quantidade}}

                <button type="button" class="button is-small" (click)="adicionarCarrinho(item.value.produto)">
                    +
                </button>
            </li>
        </ul>

        <button class="button is-medium" (click)="gerarCompraFinal()">Finalizar compra</button>
    </div>
</div>